/* ==========
  FORM  
  ============*/
 

div.form__wrapper{
    position: relative;
    min-height: 100vh;   
}
div.form__wrapper form{
    min-width: 280px;
    padding:1.5rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
div.form__wrapper h1{
    text-align: center;
    color: var(--clr-text);
}
div.form__wrapper label{
    display:block;
    margin-top:1em;
    margin-bottom: 1em;
    color: var(--clr-text);
    font-weight: var(--font-semi-bold);
}

div.form-group{
    display: inline-flex;
}
div.form__wrapper input{
    width: 100%;
    border: 1px solid var(--clr-border);
    padding:0.3rem;
    padding-left: 0.75rem;
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
   
}
div.form-group button{
padding:0.13rem 0.25rem
}

div.form__wrapper form button[type="submit"]{
    padding: 0.5rem 1rem;
    margin-top:1em;
    background-color: var(--clr-green);
    color:var(--clr-white);
    display:block;
}
div.form__wrapper form button[type="submit"]:focus ,
div.form__wrapper form button[type="submit"]:hover{
    outline:1px solid var(--clr-font);
}

div.form__wrapper form p{
    margin-top:1em;
    color:var(--clr-text);
}

div.form__wrapper input:focus{
    outline:1px solid var(--clr-primary);
}



 