
 
  /* ==========  
     todo list wrapper  
     ============ */

  div.todo_list_wrapper{
    padding:1em 2%;
  }

  div.todo_list_wrapper h3{
      font-weight: var(--font-regular);
      margin: 0.75em 0;
      margin-bottom:1.2em;
      font-size:var(--h3-font);
      color: var(--clr-font);
  }



  /* ==========  
    SIGN OUT
   ============ */
 
div.sign-out__container button.signout{
    display: block;
    margin-left:auto;
    outline:1px solid;
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding:0.5rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

div.sign-out__container button.signout:focus,
div.sign-out__container button.signout:hover{
  outline:1px solid var(--clr-font);
  outline-offset: 4px;
}

  /* ==========  
     TODO list   
     ============ */

  div.todo{
      display: inline-flex;
      align-items: center;
      width: 100%;
      outline:1px solid var(--clr-border);
      padding: 0.35rem 0.5rem;
      margin-bottom:1em;
      border-radius: 0.125rem;
      -webkit-border-radius: 0.125rem;
      -moz-border-radius: 0.125rem;
      -ms-border-radius: 0.125rem;
      -o-border-radius: 0.125rem;
}
  
  div.todo input {
      margin-right:1.5em;
      margin-top: -0.8em;
  }

div.todo-item p{
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font);
  color: var(--clr-text)
}

div.todo-item button{
  margin-top:0.25em;
  padding:0.25rem 0.5rem;
  border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  -ms-border-radius: 0.125rem;
  -o-border-radius: 0.125rem;
  background: transparent;
}

div.todo-item button img{
  float:left;
}
div.todo-item button span{
  vertical-align: middle;
  margin-left:0.5em;
}
  
 
/* ==== 
   BATCH 
=========*/

div.todo__batch , 
button.btnEdit { 

  padding:0.5rem 1rem;

  outline: 1px solid;



  border-radius:0.125rem;
  -webkit-border-radius:0.125rem;
  -moz-border-radius:0.125rem;
  -ms-border-radius:0.125rem;
  -o-border-radius:0.125rem;
}

div.todo__batch {
  margin-left:auto;
  color: var(--clr-white);
  margin-right:1em;
  font-size: var(--h4-font);
}
button.btnEdit{
  outline:1px solid;
  padding:0.5rem 1rem;
}

button.btnEdit:hover ,
button.btnEdit:focus {
  outline:1px solid var(--clr-red);
  background: transparent;
}










 /* ==========
  
 ZERO TODO WRAPPER
   ==========*/

   div.zero__todo__wrapper{
      padding-top:20vh;
  }
  
  div.zero__todo__wrapper p{
    margin-bottom:1.5em;
   text-align: center;
  }
  
  div.zero__todo__wrapper a{
    display: block;
    margin:0 auto;
    width: 120px;
      padding:0.5rem 1rem;
      background-color: var(--clr-primary);
      color: var(--clr-white);
      font-size: var(--h4-font);
      border-radius: 0.75rem;
      -webkit-border-radius: 0.75rem;
      -moz-border-radius: 0.75rem;
      -ms-border-radius: 0.75rem;
      -o-border-radius: 0.75rem;
}