<link rel="stylesheet" href="../css/todos.css">

<div class="app__container">

    <div class="todo_list_wrapper">



        <h3>TODO LIST</h3>


        <div class="todo__list__container">
            <div class="todo-list">
                <div class="todo">
                    <input type="checkbox" data-id="1">
                    <div class="todo-item">
                        <p>Why not to add a todo ?</p>
                        <button>
                            <img src="./icons/date.png" alt="date">
                            <span>31 May 2022</span>
                        </button>
                    </div>

                    <div class="todo-controls">
                        <button class="btn btnEdit">
                            <img src="./icons/edit.svg" alt="edit icon">
                        </button>
                        <button class="btn btnDelete">
                            <img src="./icons/delete.svg" alt="delete icon">

                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>