<header>
    <nav>
        <ul>
            <li>
                <a href="/">

                    <img src="./assets/logo/Cell.png" alt="Placement cell logo" class="brand-logo" />
                    <span>Placement cell</span>
                </a>
            </li>

            <li><a href="/" class="btn--sign">Sign in</a> </li>

        </ul>
    </nav>

</header>